<%- include('../utils/translate'); %>
<div class="block contacts">
  <div class="box">
    <div class="title"><%= translate(localization.blocks.contacts) %></div>
    <div class="links">
      <% contacts.forEach((item) => { %>
      <p class="link <%= item.type %>">
        <a href="<%= item.url[0][0] %>"><%- include('../utils/icon', {type: "contacts", icon: item.type}); %><%= item.url[0][1] %></a>
      </p>
      <% }) %>
    </div>
  </div>
</div>
