<%- include('../utils/translate'); %>
<div class="block projects">
  <div class="title"><%= translate(localization.blocks.projects) %></div>
  <div class="items">
    <% projects.forEach((project)=> { %>
    <div class="item">
      <div class="general">
        <div class="name"><% if (localization.projects.items[project.name]?.website) { %>
          <a href="<%= translate(localization.projects.items[project.name]?.website) %>">
            <%= translate(localization.projects.items[project.name]?.name) %>
          </a><% } else { %><%= translate(localization.projects.items[project.name]?.name) %><% } %>
        </div>
        <div class="year">
          <% if (project.year) { %>
          <% if (project.year[1]===project.year[0]) { %>
          <%= project.year[0] %>
          <% } else if (project.year[1] && project.year[1] !== true) { %> <%= project.year[0] %>&ndash;<%= project.year[1] %>
          <% } else { %> <%= translate(localization.projects.since) %> <%= project.year[0] %>
          <% } %>
          <% } %>
        </div>
        <div class="status <%= project.status %>">
          <%= translate(localization.projects.status[project.status]) %>
        </div>
      </div>
      <div class="description">
        <%= translate(localization.projects.items[project.name]?.description) %>
      </div>
      <% if (project.openSourced) { %>
        <div class="open-sourced">
          <a href="<%= project.openSourced %>"><%= translate(localization.projects.openSourced) %></a>
        </div>
        <% } %>
      <div class="stack">
        <% project.stack.forEach((item) => { %> <%- include('../utils/icon', {type:
        "stack", icon: item}); %> <% }) %>
      </div>
    </div>
    <% }) %>
  </div>
</div>
